@import '@/style/index.less';

.btn {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  .button-size(@btn-padding-y, @btn-padding-x, @btn-font-size, @btn-border-radius, @line-height-base);
  background-color: @white;
  color: @body-color;
  // line-height: @line-height-base;
  border: .12rem solid @gray-300;
  border-radius: @btn-border-radius;
  margin: 10px;
  cursor: pointer;
  box-shadow: @btn-box-shadow;
  transition: @btn-transition;

  &.disabled,
  &[disabled] {
    background-color: @gray-50;
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none;

    >* {
      pointer-events: none; // 不接受鼠标事件
    }
  }
}

.btn:hover,
.btn:focus,
.btn:active {
  color: @primary;
  border-color: @primary;

  &.disabled,
  &[disabled] {
    background-color: @gray-50;
    color: @body-color;
    border-color: @gray-300;
  }
}

.btn-link {
  border: none;
  box-shadow: none;
  color: @link;
  text-decoration: none;

  &:disabled,
  &.disabled {
    background-color: @body-bg;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.btn-primary {
  .button-style(@primary, @primary, @gray-50);
}

.btn-danger {
  .button-style(@red, @red, @gray-50);
}

.btn-default {
  .button-style(@gray-600, @gray-100, @gray-50);
}

.btn-large {
  .button-size(@btn-padding-y-lg, @btn-padding-x-lg, @btn-font-size-lg, @btn-border-radius, @line-height-lg);
}

.btn-small {
  .button-size(@btn-padding-y-sm, @btn-padding-x-sm, @btn-font-size-sm, @btn-border-radius, @line-height-sm);
}
