@import '@/style/index.less';

.btn {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  font-size: @btn-font-size;
  background-color: @white;
  color: @body-color;
  line-height: @line-height-base;
  padding: @btn-padding-y @btn-padding-x;
  border: .12rem solid transparent;
  border-radius: @btn-border-radius;
  margin: 10px;
  cursor: pointer;
  box-shadow: @btn-box-shadow;
  transition: @btn-transition;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: @primary;
  // border-color: @primary;
}

.btn-primary {
  background-color: @primary;
  // border-color: @primary;
  color: @gray-50;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: @gray-50;
  background-color: @blue;
  // border-color: @blue;
}

.btn-link {
  border: none;
  box-shadow: none;
  color: @link;
  text-decoration: none;
}

.btn-lg {
  padding: @btn-padding-y-lg @btn-padding-x-lg;
  font-size: @btn-font-size-lg;
  line-height: @line-height-lg;
}

.btn-sm {
  padding: @btn-padding-y-sm @btn-padding-x-sm;
  font-size: @btn-font-size-sm;
  line-height: @line-height-sm;
}
