/* --fire-opal: #ee6352ff;
--vivid-sky-blue: #13c5f6ff;
--magnolia: #efe9f4ff;
--forest-green-crayola: #57a773ff;
--independence: #484d6dff; */

.board {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.square {
  width: 20rem;
  height: 4rem;
  padding: 0.1rem;
  margin: 0 1rem;
  line-height: 4rem;
}
